table.res-calendar {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.res-calendar.table-condensed th,
.res-calendar.table-condensed td {
	padding: 9px 10px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.res-dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	margin: 5px 0 0;
	padding: 5px;
	list-style: none;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}


/*==DATEPICKER==*/

.res-datepicker {
	top: 0;
	left: 0;
	background-color: #ffffff;
	box-shadow: none;
}

.res-datepicker > div {
	display: none;
}

.res-datepicker table {
	width: 100%;
	margin: 0;
}

.res-datepicker td {
	border: solid 1px #eeeeee;
}

.res-datepicker th.dow {
	color: #ffffff;
	background-color: #E1BD85;
	font-weight: normal;
}

.res-datepicker td,
.res-datepicker th {
	text-align: center;
	width: 25px;
	height: 25px;
}

.res-datepicker td.day:hover {
	background: #eeeeee;
	cursor: pointer;
}

.res-datepicker td.day.disabled {
	color:#000;
}

.res-datepicker td.old,
.res-datepicker td.new {
	color: #999999;
}

.res-datepicker td.active,
.res-datepicker td.active:hover {
	color: #ffffff;
	background-color: #c9a263;
	color: #fff;
}

.res-datepicker td.active:hover,
.res-datepicker td.active:hover:hover,
.res-datepicker td.active:focus,
.res-datepicker td.active:hover:focus,
.res-datepicker td.active:active,
.res-datepicker td.active:hover:active,
.res-datepicker td.active.active,
.res-datepicker td.active:hover.active,
.res-datepicker td.active.disabled,
.res-datepicker td.active:hover.disabled,
.res-datepicker td.active[disabled],
.res-datepicker td.active:hover[disabled] {
	color: #ffffff;
	background-color: #c9a263;
}

.res-datepicker td.active:active,
.res-datepicker td.active:hover:active,
.res-datepicker td.active.active,
.res-datepicker td.active:hover.active {
	background-color: #c9a263;
}

.res-datepicker td span {
	display: block;
	width: 58px;
	height: 58px;
	line-height: 58px;
	float: left;
	cursor: pointer;
}

.res-datepicker td span:hover {
	background: #eeeeee;
}

.res-datepicker td span.active {
	color: #ffffff;
	background-color: #c9a263;
	color: #ffffff;
}

.res-datepicker td span.active:hover,
.res-datepicker td span.active:focus,
.res-datepicker td span.active:active,
.res-datepicker td span.active.active,
.res-datepicker td span.active.disabled,
.res-datepicker td span.active[disabled] {
	color: #ffffff;
	background-color: #c9a263;
}

.res-datepicker td span.active:active,
.res-datepicker td span.active.active {
	background-color: #c9a263;
}

.res-datepicker td span.old {
	color: #999999;
}

.res-datepicker th.switch {
	width: 145px;
}

.res-datepicker th.next,
.res-datepicker th.prev {
	font-size: 21px;
}

.res-datepicker thead tr:first-child th {
	cursor: pointer;
	background-color: #D4AD6F;
	color: #ffffff;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 18px;
}

.res-datepicker thead tr:first-child th.prev,
.res-datepicker thead tr:first-child th.next {
	font-size: 30px;
}

.res-datepicker thead tr:first-child th:hover {
	background-color: #c9a263;
}

.input-append.date .add-on i,
.input-prepend.date .add-on i {
	display: block;
	cursor: pointer;
	width: 16px;
	height: 16px;
}
